<app-game-actions
  (validate)="validate()"
  (solve)="autoSolve()"
  (resetBoard)="resetBoard()"
  [hasGameStarted]="hasGameStarted"
  [isValidating]="isValidating"
  [isSolving]="isSolving"
/>
<div *ngIf="isLoading" class="grid py-2 md:py-4 px-0 md:px-4 w-full max-w-2xl mx-auto md:gap-2">
  <div
    *ngFor="let row of [].constructor(9); let rowIndex = index"
    class="grid grid-cols-9 md:gap-2"
  >
    <div
      data-testid="loading-cell"
      *ngFor="let col of [].constructor(9); let colIndex = index"
      class="border border-gray-600 flex justify-center items-center h-10 w-10 md:h-14 md:w-14 bg-gray-800 animate-pulse"
    ></div>
  </div>
</div>
<div
  *ngIf="!isLoading"
  class="grid py-2 md:py-4 px-0 md:px-4 w-full max-w-2xl mx-auto md:gap-2"
  data-testid="game-board"
>
  <div *ngFor="let row of board; let rowIndex = index" class="grid grid-cols-9 md:gap-2">
    <div
      *ngFor="let col of row; let colIndex = index"
      [attr.data-testid]="'cell-' + rowIndex + '-' + colIndex"
      class="hover-animate border border-gray-600 flex flex-wrap content-center justify-center h-10 w-10 md:h-14 md:w-14 cursor-pointer hover:bg-gray-900"
      [ngClass]="{
        'bg-gray-800': rowIndex === selectedRowIndex && colIndex === selectedColIndex,
        'bg-gray-950': rowIndex !== selectedRowIndex || colIndex !== selectedColIndex
      }"
      (click)="cellClicked(rowIndex, colIndex)"
    >
      <div *ngIf="col !== 0" class="w-full text-center text-lg">
        {{ col }}
      </div>
      <div *ngIf="col === 0" class="flex flex-wrap justify-center md:gap-1">
        <div
          *ngFor="let num of candidateNumbers"
          class="w-3 h-3 flex justify-center items-center"
          data-testid="candidate-number"
        >
          <span *ngIf="candidateBoard[rowIndex][colIndex][num] === true" class="text-xs/[6px]">{{
            num
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="min-h-12 flex justify-center py-4" [ngClass]="{ 'animate-pulse': status === 'solved' }">
  <span class="text-fuchsia-600 text-lg status" [ngClass]="{ 'animate-bounce': isStatusBouncing }">
    {{ computedStatus }}
  </span>
</div>
