<div *ngIf="loading" class="grid p-4 w-full max-w-lg mx-auto gap-1">
  <div *ngFor="let row of [].constructor(9); let rowIndex = index" class="grid grid-cols-9 gap-1">
    <div
      *ngFor="let cell of [].constructor(9); let cellIndex = index"
      class="border border-gray-600 flex justify-center items-center h-12 w-12 bg-gray-800 animate-pulse"
    ></div>
  </div>
</div>
<div *ngIf="!loading" class="grid p-4 w-full max-w-lg mx-auto gap-1">
  <div *ngFor="let row of board; let rowIndex = index" class="grid grid-cols-9 gap-1">
    <div
      *ngFor="let cell of row; let cellIndex = index"
      class="border border-gray-400 flex justify-center items-center h-12 w-12 cursor-pointer hover:bg-gray-800"
      [ngClass]="{
        'bg-gray-800': rowIndex === selectedRowIndex && cellIndex === selectedCellIndex
      }"
      (click)="cellClicked(rowIndex, cellIndex)"
    >
      {{ cell !== 0 ? cell : '' }}
    </div>
  </div>
</div>
